
@media screen and (max-width: 1440px) {

  header{
    padding-bottom: 30px;
  }

  .hd-top{
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .hd-content{
    padding-top: 200px;
  }

  .about-content h3{
    margin-bottom: 50px;
  }

  .about-content img{
    margin-right: 0;
  }

  .about-content p{
    flex-basis: auto;
    padding: 50px 70px 0;
  }

  .main-block-content{
    width: auto;
  }

}

@media screen and (max-width: 576px) {

  #JPO{
    margin: 0 10px;
  }

  header{
    background-image: linear-gradient(rgba(0,0,0,.8), transparent 50%), url('../img/header_bg.png');
    background-position: center center;
    background-size: cover;
    padding: 0 20px 30px;
  }

  .hd-top{
    padding: 20px;
    align-items: center;
  }

  .hd-top img{
    width: 50px;
  }

  .hd-top i{
    display: block;
    color: white;
    font-size: 32px;
  }
  
  .hd-top ul{
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
    width: calc(100vw - 20px);
    flex-direction: column;
    display: none;
    z-index: 10;
  }

  .hd-top ul li{
    margin-left: 0;
    border-bottom: 1px solid #333;
    /* background-color: rgba(255,255,255,.9); */
    background-color: #fff;
  }

  .hd-top ul a{
    text-align: center;
    color: #333;
    line-height: 60px;
  }

  .hd-top ul a:hover{
    border-bottom: 0;
  }

  .hd-content{
    padding-top: 0px;
    height: 100%;
    position: relative;
  }

  .hd-content i{
    display: block;
    font-size: 36px;
    width: 27px;
    animation: arr 1s infinite;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15svh;
    margin: auto;
  }

  @keyframes arr {
    0%{
      opacity: 0;
      transform: translateY(0);
    }
    100%{
      opacity: 1;
      transform: translateY(30px);
    }
  }

  .hd-enter{
    margin-top: 0;
    margin-bottom: 100px;
  }

  .hd-content_title{
    margin-bottom: 100px;
  }

  .hd-content_title h1{
    width: auto;
    font-weight: 700;
  }

  .hd-content_title h2{
    font-size: 5.5vw;
  }

  .hd-content_form{
    width: 100%;
  }

  .hd-content_form ol{
    /* display: none; */
  }

  .hd-content_form .write{
    width: 45%;
  }

  .hd-content_form .listen{
    width: 55%;
    margin-left: 10px;
  }

  .hd-content_form b{
    width: 26px;
    height: 26px;
  }

  .hd-content_form input[type="submit"]{
    width: 160px;
  }

  .about{
    height: auto;
    background-size: cover;
  }

  .about-content{
    width: auto;
    padding: 50px 20px;
    flex-direction: column;
  }

  .about-content img{
    order: -1;
    margin-bottom: 30px;
    width: 150px;
  }

  .about-content h3{
    margin-bottom: 0;
  }

  .about-content p{
    flex-basis: auto;
    padding: 0;
  }

  .main-block{}

  .main-block-content{
    height: auto;
    flex-direction: column;
    padding: 50px 20px;
  }

  .main-block-content img{
    margin: 0;
    top: 0;
    width: 200px;
    margin-bottom: 20px;
  }

  .main-block-content_text h3{
    font-size: 26px;
    line-height: 1.2;
  }

  .main-block-content_text span{
    display: block;
  }

  .block-gray img{
    order: 1;
  }

  .block-gray .main-block-content_text{
    margin-left: 0;
  }

  /* ---------------------------- Wavv Soft-launch Party Popup ------------------------- */
  .wsl-out{
    width: 70%;
  }

  .wsl-out img{
    max-width: 100%;
    height: 50vh;
    margin-bottom: 20px;
  }

  .wsl-out h1{
    font-size: 24px;
  }

  .wsl-out h2{
    font-size: 18px;
  }

  .wsl-out p{
    flex-direction: column;
  }

  .wsl-out i{
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    border: 1px solid #333;
  }

}


@media screen and (max-width: 375px) {

  header{
    height: auto;
  }

  .hd-content_title h2{
    font-size: 18px;
  }

  .hd-content_form_discord{
    font-size: 12px;
  }

  .hd-content_form input[type="submit"]{
    width: 150px;
  }

  .hd-content_form b{
    width: 20px;
    height: 20px;
  }

  .wsl-out h1{
    font-size: 22px;
  }

  .wsl-out p{
    font-size: 13px;
    margin-bottom: 10px;
  }


}






























